<div class="columns align-items-center">
  <div class="column is-1">
    <%= item_cart.quantity %>
  </div>
  <div class="column is-2">
    <figure class="is-128x128 image">
<%= image_tag  item_cart.item.cat_image, alt: 'cat', class: "card-img-top", style: "width: 8rem; height: 9rem;"%>
    </figure>
  </div>
  <div class="column is-9">
    <strong><%= item_cart.item.title %></strong>
    <div class="columns align-items-center">
      <div class="content column is-9">
        <%= truncate(item_cart.item.description, length: 140) %>
      </div>
      <div class="column is-3 has-text-right">
        <strong class="f4"><%= number_to_currency(item_cart.total_price) %></strong>
      </div>
    </div>
  </div>
</div>

<div class="has-text-right">
  <%= link_to 'Remove Item', item_cart, method: :delete, data: { confirm: "Are you sure? " }, class: "button is-small mb4" %>
</div>

<hr/ >
