<div class = "container">
<h1>Panier</h1>

<section class="section">
  <%= render 'item_carts/item_cart'%>
 <div class="column total has-text-right">
     <h4 class="title is-4">
       <span class="f5 has-text-grey">Total:</span> <%= number_to_currency(@cart.total_price) %>
     </h4>
  </div>

 <div class="columns">


    <div>
      <%= link_to "Passer la commande", new_order_path, method: :get, class: "btn btn-success" %><br>
    </div>

    <br>


    <%= link_to items_path do %>
      <div style ="display:flex; flex-direction:row;">
        <div>
          <i class="far fa-caret-square-left fa-3x"></i>
        </div>
        <div style = "padding:10px">
          <p>Retourner aux produits</p>
        </div>
      </div>
    <% end %>


      <br>

    <div>
     <%= button_to 'Vider le panier', @cart, method: :delete, data: { confirm: "Are you sure? " }, class: "btn btn-primary" %>
    </div>

  </div>

</section>
