<div class = "container">
<h1>Panier</h1>

<section class="section">
  <%= render 'item_carts/item_cart'%>

    <hr />
    <div class="column total has-text-right" style="text-align:center">
     <p class="title is-4 display: flex; flex-direction: row; justify-content: space-between" style="font-size:xx-large">
       <span class="f5 has-text-grey">Total:</span> <%= number_to_currency(@cart.total_price) %>
     </p>
   </div>
   <br>
   <br>
   <div style= "display: flex; flex-direction: row; justify-content: space-around;>
       <%= link_to items_path do %>
        <div style ="display:flex; flex-direction:row;">
          <div>
            <i class="far fa-caret-square-left fa-3x"></i>
          </div>
          <div style = "padding:10px">
            <p>Retourner aux produits</p>
          </div>
        </div>
      <% end %>
      <%= link_to "<button class= 'btn btn-success'>Passer commande</button>".html_safe, new_order_path%>
      <%= button_to 'Vider le panier', @cart, method: :delete, data: { confirm: "Are you sure? " }, class: "btn btn-primary" %>
   </div>

</section>
