<div class= "container ">
  <div class= "row">
  <div class="card col col-12 mt-4">
           <%= image_tag @item.cat_image, alt: 'cat', class: "card-img-top img-fluid"%>
          <div class="card-body">
            <h3 class="card-title"><%= @item.title%></h3>
            <h4><%=@item.price%> $</h4>
            <p class="card-text"><%= @item.description%></p>
            <%= button_to 'Ajouter au panier', item_carts_path(item_id: @item), class: 'btn btn-success' %>
          </div>
  </div>


    
     
  </div>
</div>
