<div class = container >


  <div class = "row" style = "display: flex; flex-direction: row; flex-wrap: wrap;">



    <% @items.each do |item|%>
      <div class="card" style = "height: auto; width: 33%; margin-top:10px;">
      <%= image_tag item.cat_image, alt: 'cat', class: "card-img-top", style: "width: 18rem; height: 20rem;"%>
        <div class="card-body">
          <h5 class="card-title"><%= item.title %>  <%= number_to_currency(item.price) %></h5>

          <p class="card-text"><%= item.description %></p>
          <%= link_to "<button class = 'btn btn-primary'>Voir la photo</button>".html_safe, item_path(item.id)%>

          <%= button_to "Add #{item.title} to cart", item_carts_path(:item_id => item.id) %>
        </div>
      </div>
    <% end %>

</div>
</div>
