 <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
    <div class="container">
    <%= link_to "<span class = 'navbar-brand'> Cat's Eyes</span>".html_safe, root_path%>
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse" id="navbarResponsive" style="">
        <ul class="navbar-nav ml-auto">
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to "<span class ='nav-link'>Voir le profil</span>".html_safe, user_path(current_user.id) %>
          </li>
          <li class="nav-item">
            <%= link_to "<span class ='nav-link'>Se déconnecter</span>".html_safe, destroy_user_session_path, method: :delete %>
          </li>

        <% else %>
          <li class="nav-item">
            <%= link_to "<span class ='nav-link'>Se connecter</span>".html_safe, new_user_session_path %>
          </li>
          <li class="nav-item">
            <%= link_to "<span class ='nav-link'>S'inscrire</span>".html_safe, new_user_registration_path %>
          </li>
        <% end %>
        </ul>
      </div>
    </div>
  </nav>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>