<!DOCTYPE html>
<html>
  <head>
    <title>Catseyes</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/82b59b489d.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
    <%= link_to "<span class = 'navbar-brand'> Cat's Eyes</span>".html_safe, root_path%>

      <div class="navbar-collapse collapse" id="navbarResponsive" style="padding:20px">
        <ul class="navbar-nav ml-auto">

        <% if user_signed_in? %>


          <li class="nav-item" style="padding-right:50px">
            <%= link_to cart_path(@cart) do %>
              <span class>
                <i class ='fas fa-shopping-cart fa-2x' style = 'color:white'></i>
              </span>
              <% end %>
          </li>

          <li class="nav-item">
            <%= link_to "<span class ='nav-link'>Votre profil</span>".html_safe, user_path(current_user.id) %>
          </li>
          <li class="nav-item">
            <%= link_to "<span class ='nav-link'>Se déconnecter</span>".html_safe, destroy_user_session_path, method: :delete %>
          </li>

        <% else %>
          <li class="nav-item">
            <%= link_to "<span class ='nav-link'>Se connecter</span>".html_safe, new_user_session_path %>
          </li>
          <li class="nav-item">
            <%= link_to "<span class ='nav-link'>S'inscrire</span>".html_safe, new_user_registration_path %>
          </li>
        <% end %>
        </ul>
      </div>
    </div>
  </nav>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>


    <%= yield %>
  </body>
</html>
